* {
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    background: black;
    cursor: none;
}

img {
    display: none;
}

.grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.cell {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.slideout {
    animation-duration: 1s;
    animation-name: slideout;
}

.slidein {
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slideout {
    0% {
        margin-left: 0;
        width: 100%; 
    }
    
    100% {
        margin-left: 100%;
        width: 0%;
    }
}
@keyframes slidein {
    0% {
        margin-left: 0%;
        width: 0%;
    }
    
    100% {
        margin-left: 0;
        width: 100%;
    }
}


.fade {
    animation-duration: 4s;
    animation-name: fade;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    
    35% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}